{% extends 'main/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4 fw-normal text-center">Зарегистрируйтесь</h1><br>
        <form method="POST" class ="fs-5 text-muted centres date">
            {% csrf_token %}
            <label for="username" class="fs-5 text-muted mb-3">Введите ваш логин:</label>
            <p id="username">{{ form.username }}</p>
            <label for="password1" class="fs-5 text-muted mb-3">Введите ваш пароль:</label>
            <p id="password1">{{ form.password1 }}</p>
            <label for="password2" class="fs-5 text-muted mb-3">Повторите ваш пароль:</label>
            <p id="password2">{{ form.password2 }}</p>
            {{ form.error }}
            <button type="submit" class="btn btn-secondary me-2 mb-2">Зарегистрироваться</button>
        </form><br>
        <p1 class="fs-5 text-muted">Вы уже зарегистрированны?</p1><br><br>
        <a href="login" class="btn btn-secondary me-2 mb-2">Войти</a>
    </div>
{% endblock %}

{% block content2 %}

{% endblock %}